body{
    display: flex;
    justify-content: center;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(7, 75px);
}

#display {
    display:flex;
    grid-column: 1 / -1;
    background-color: black;
    color: white;
}

#backspace-btn{
    grid-column: 4;
}

.equals{
    grid-column: 4;
}

.selected{
    border: violet;
}
/* <a href="https://iconscout.com/icons/backspace" target="_blank">Backspace Icon</a> by <a href="https://iconscout.com/contributors/benjamin-j-sperry" target="_blank">Benjamin J Sperry</a> */