body{
    display: flex;
    justify-content: center;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(7, 75px);
    border: 7px solid lightgrey;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    gap: 1px;
}

#display {
    display:flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / -1;
    background-color: black;
    color: white;
    font-size: xx-large;
}

button {
    border-radius: 3px;
    border: none;
    margin: 2px;
    font-size: large;
    color: black;
}

.number{
    background-color: white;
    border: 2px solid #aaaaaa;
}

.operator{
    background-color: lightgrey;
    border: 2px solid #888888;
}

.decimal{
    background-color: white;
    border: 2px solid #aaaaaa;
}

.negate{
    background-color: #d3d3ff;
    border: 2px solid #aaaaaa;
}

#clear-btn {
    background-color: rgb(255, 174, 174);
    border: 2px solid rgb(255, 134, 134);
}

#backspace-btn{
    background-color: rgb(216, 175, 255);
    border: 2px solid black;
    grid-column: 4;
}

.equals{
    background-color: lightgray;
    border: 2px solid #aaaaaa;
    grid-column: 3 / -1;
}

.selected{
    border: 2px solid white;
    box-shadow: 0 0 4px white;
}
/* <a href="https://iconscout.com/icons/backspace" target="_blank">Backspace Icon</a> by <a href="https://iconscout.com/contributors/benjamin-j-sperry" target="_blank">Benjamin J Sperry</a> */</meta>